.price-color {
  color: #6e65ef;
}
.icon-color {
  color: #6e65ef;
}
.months-color {
  color: rgb(118, 127, 134);
}

.para-color {
  color: rgb(118, 127, 134);
}

.cate-color {
  color: rgb(118, 127, 134);
}
